*/build/*
*/romfs/*

Moving-Sprite-3ds/Moving-Sprite-3ds.3dsx
Moving-Sprite-3ds/Moving-Sprite-3ds.elf
Moving-Sprite-3ds/Moving-Sprite-3ds.smdh

Rendering-Sprite-3ds/Rendering-Sprite-3ds.elf
Rendering-Sprite-3ds/Rendering-Sprite-3ds.smdh
Rendering-Sprite-3ds/Rendering-Sprite-3ds.3dsx

Changing-Sprite-3ds/Changing-Sprite-3ds.3dsx
Changing-Sprite-3ds/Changing-Sprite-3ds.elf
Changing-Sprite-3ds/Changing-Sprite-3ds.smdh